{% extends "baseline.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}"/>
<script type="module" src="{{ url_for('static', filename='import.js') }}"></script>
{% endblock %}
{% block title %}Импорт{% endblock %}
{% block content %}
<form id="fileimport" action="" method="">
    <div>
        <label for="file">Выберите файл: </label>
        <input name="file" id="file" accept="text/csv,.csv" required type="file">
    </div>
    <button type="submit">Импортировать</button>
</form>
{% endblock %}